@charset "UTF-8";

body {
  font-family: "SimSun", "宋体", serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SimHei", "黑体", sans-serif;
  margin: 1em 0 0.5em;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #000;
}

h2 {
  font-size: 1.5em;
}

p {
  margin: 0 0 1em;
  text-indent: 2em;
}

.cover {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover img {
  max-width: 100%;
  height: auto;
  max-height: 90vh;
}

.title-page {
  text-align: center;
  padding: 2em;
}

.title-page h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.title-page .subtitle {
  font-size: 1.2em;
  margin-bottom: 2em;
  font-style: italic;
}

.title-page .author {
  font-size: 1.5em;
  margin-bottom: 3em;
}

.title-page .date {
  font-size: 1em;
  color: #666;
}

.introduction {
  padding: 1em 2em;
}

.center {
  text-align: center;
}

.blockquote {
  margin: 1em 2em;
  padding: 1em;
  border-left: 4px solid #ccc;
  background-color: #f9f9f9;
  font-style: italic;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 1.8em;
  }
  
  .title-page {
    padding: 1em;
  }
  
  .introduction {
    padding: 0.5em 1em;
  }
}